/* .container {
  height: 100%;
} */

.title {
  margin-top: 0.5em;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: dodgerblue;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-text {
  margin-bottom: 10px;
}

.card-price {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.details-btn:hover {
  transform: scale(1.05);
}

.add-to-cart-btn:hover {
  transform: scale(1.05);
}

.details-btn,
.add-to-cart-btn {
  padding: 10px;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
}

.details-btn {
  /* background-color: #007bff; */
  background-color: transparent;
  color: black;
  border: 1px solid #1100ff;
}

.details-btn:hover {
  background-color: blue !important;
  color: #fff;
}

.add-to-cart-btn {
  /* background-color: #17a2b8; */
  background-color: transparent;
  color: black;
  border: 1px solid #17a2b8;
}

.add-to-cart-btn:hover {
  background-color: #17a2b8 !important;
  color: #fff;
}

.load-more-btn {
  display: flex;
  padding: 10px;
  margin-top: 0.5em;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid green;
  margin-bottom: 2em;
}

.load-more-btn:hover {
  background-color: green !important;
  color: #fff;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  height: 300px !important;
  width: 200px;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #7e4cf3;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 {
  font-size: 14px;
}
.rating .fa {
  color: #be6410;
}
.col-4:hover {
  transform: scale(1.15);
  /* transform: translateYs(50px); */
  /* transform: translateX(50px); */
}
