.admin-menu {
  text-align: center;
}

.admin-menu h4 {
  margin-bottom: 1rem;
}

.admin-menu .list-group {
  max-width: 300px;
  margin: 0 auto;
}

.admin-menu .list-group-item {
  border-radius: 0;
}

.admin-menu .list-group-item:hover {
  background-color: lightgray;
}
