.navbar {
  background-color: coral !important;
  border-bottom: 1px solid #ccc;
}

.navbar-brand img {
  height: 55px !important;
  width: 55px !important;
  transition: transform 0.3s ease-in-out;
  border-radius: 50%;
}

.navbar-brand img:hover {
  transform: rotate(360deg);
}

.navbar-nav .nav-link {
  color: whitesmoke !important;
  text-decoration: none !important;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  background-color: crimson;
  border-radius: 10px;
}

.dropdown-menu {
  background-color: crimson;
  color: whitesmoke !important;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-menu a.dropdown-item {
  color: whitesmoke !important;
  transition: color 0.3s ease-in-out;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: coral;
  color: whitesmoke !important;
}

.badge {
  background-color: #007bff;
}

.badge .ant-scroll-number-only-unit {
  background-color: #007bff;
  border-color: #007bff;
}

.header-badge {
  position: relative;
  margin-left: 5px;
}

.badge-count {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: coral;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}

.badge-count-zero {
  display: none;
}
